
.top-rated-doctors {
    background-image: url(https://thumbs.dreamstime.com/b/doctor-medical-background-24834402.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
}

.doctor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.doctor-profile {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    flex: 0 0 calc(25% - 20px);
}

.doctor-profile img {
    max-width: 100%;
    height: auto;
}

h3 a {
    color: white;
    text-decoration: none;
}

.pagination {
    text-align: right;
    margin-top: 20px;
}

.pagination {
    background-color: aqua;
    color: aqua;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
